* { /* not sure I wanna use this yet but let's just put it here for the moment */
  box-sizing: border-box;
}

:root {
    --bg-colour: #eee;
    --accent-colour: #bab;
    --accent-colour-strong: #e7e;
}

a {
  color: var(--accent-colour-strong);
  text-decoration: none;
}

a:hover {
  color: var(--accent-colour);
}

body {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
  font-size: 16px;
  font-family: verdana;
}

nav {
  flex: 20%;
  max-width: 200px;
  text-align: center;
  margin: 50px 20px 50px 50px;
  padding: 50px 0px 50px 0px;
/*  background-color: var(--bg-colour);*/
}

button.nav {
  border: none;
  width: 100%;
  background: none;
  color: #000;
  padding: 20px;
  font-size: 20px;
}

button.nav:hover {
  color: var(--accent-colour-strong);
}

main {
  flex: 50%;
  margin: 50px 50px 50px 20px;
  padding: 50px;
  text-align: center;
  background-color: var(--bg-colour);
  border-radius: 10px;
}